.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    font-family: 'Lato', sans-serif;
    width: 550px;
    margin: 0 auto;
}
.text{
    width: 60px;
    height: 50px;
    background-color: antiquewhite;
}
.text2{
    width: 60px;
    height: 50px;
    background-color: antiquewhite;
    align-self: center;
}
.text3{
    width: 60px;
    height: 50px;
    background-color: antiquewhite;
    align-self: flex-end;
}
.text4{
    width: 60px;
    height: 50px;
    background-color: antiquewhite;
    text-align: center;
}
.container1{
    background: turquoise;
    width: 180px;
    height: 180px;
    display: flex;
}
.container2{
    background: turquoise;
    width: 180px;
    height: 180px;
    display: flex;
}
.container3{
    background: turquoise;
    width: 180px;
    height: 180px;
    display: flex;
}

.container4{
    background: turquoise;
    width: 180px;
    height: 180px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.container5{
    background: turquoise;
    width: 180px;
    height: 180px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.container6{
    background: turquoise;
    width: 180px;
    height: 180px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
}
.container7{
    background: turquoise;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: end;
}
.container8{
    background: turquoise;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.container9{
    background: turquoise;
    width: 180px;
    height: 180px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    justify-content: end;

}